*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body{
    background: #f5f5f5;
}

body, input, button {
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
}
section nav.sidebar{
    float: left;
}
section nav.sidebar {
    width: 4%;
    height: 100%;
    background: #FFF;
    border-right: 1px solid rgb(241, 241, 241);
}
section nav .nav-swich{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section nav.sidebar .nav-swich img {
    width: 50%;
    color: rgb(190, 189, 189);
    position: relative;
    top: -25%;
}
section nav.sidebar .nav-swich svg {
    color: rgb(190, 189, 189);
}
section nav.sidebar .setups{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section nav.sidebar .setups svg {
    margin-top: 25px;
    color: #357ae8;
}
section nav.sidebar .perfil{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section nav.sidebar .perfil svg {
    margin-top: 25px;
    color: rgb(190, 189, 189);
}
section .menu{
    width: 20%;
    height: 100%;
    background: #FFF;
}
section .menu header{
    height: 8%;
    padding: 5%;
    border-bottom: 1px solid rgb(241, 241, 241);
    font-size: 14px;
}
section .menu ul{
    height: 92%;
    list-style: none;
    font-size: 12px;
}
section .menu ul a{
    text-decoration: none;
    color: black;
}
section .menu ul li{
    width: 100%;
    height: 7%;
    background:#FFF;
    border-bottom: 1px solid rgb(241, 241, 241);
    display: flex;
    align-items: center;
    
}
section .menu ul li span{
    margin-left: 5%;
    margin-top: 5%;
}
section .menu ul li:hover{
    background:rgb(241, 241, 241);
}
section main{
    width: 96%;
    height: 100%;
    /*background-color: royalblue;*/
}
section .content{
    padding: 2%;
}

