*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body{
    background: #f5f5f5;
}

body, input, button {
    font-family: Arial, Helvetica, sans-serif;
}
.login-container  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container .item-container {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.login-container .item-container .img {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container .item-container .img img{
    width: 80%;
}
.login-container .item-container p {
    width: 100%;
    margin-top: 10px;
    border:0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #357ae8;
    text-align: center;
}
.login-container .item-container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.login-container .item-container form input {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}
.login-container .item-container form input::placeholder{
    color: #999;
}
.login-container .item-container form button{
    margin-top: 10px;
    border:0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #357ae8;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
